
@{
    ViewBag.Title = "Home Page";
}

<div class="row">
    <div class="col-md-12">
        <h4 class="page-head-line">Agent Dashboard</h4>
    </div>
</div>
<div class="row">
</div>
<div class="row">
    <div class="col-md-3 col-sm-3 col-xs-6">
        <div class="dashboard-div-wrapper bk-clr-one">
            <a href="#" style="font-size:36px">@ViewBag.Client</a>
            <a href="/Client" style="color:white"><h4>Client List</h4></a>
        </div>
    </div>
    @*<div class="col-md-3 col-sm-3 col-xs-6">
        <div class="dashboard-div-wrapper bk-clr-two">
            <a href="#" style="font-size:36px">@ViewBag.Mode</a>
            <a href="/Admin/Country" style="color:white"><h4>Mode List</h4></a>
        </div>
    </div>
    <div class="col-md-3 col-sm-3 col-xs-6">
        <div class="dashboard-div-wrapper bk-clr-three">
            <a href="#" style="font-size:36px">@ViewBag.Term</a>
            <a href="/Admin/State" style="color:white"><h4>Term List</h4></a>
        </div>
    </div>
    <div class="col-md-3 col-sm-3 col-xs-6">
        <div class="dashboard-div-wrapper bk-clr-four">
            <a href="#" style="font-size:36px">@ViewBag.CityCount</a>
            <a href="/Admin/City" style="color:white"><h4>City List</h4></a>
        </div>
    </div>*@

</div>

